@font-face {
    font-family: 'Heavy';
    src: url('@fonts/Heavy.otf');
}

@font-face {
    font-family: Bold;
    src: url('@fonts/Bold.otf');
}

@font-face {
    font-family: Medium;
    src: url('@fonts/Medium.otf');
}

@font-face {
    font-family: 'Reg';
    src: url('@fonts/Reg.otf');
}