.filter-table-icon {
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px;
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    background-image: url("@images/icons/filter-table.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sort-icon {
    width: 10px;
    height: 13px;
    display: inline-block;
    background-image: url("@images/thead-sort.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.password-icon {
    &::before {
        content: "";
        width: 10px;
        height: 13px;
        display: inline-block;
        background-image: url("@images/smit-password-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.email-icon {
    &::before {
        content: "";
        width: 18px;
        height: 12px;
        display: inline-block;
        background-image: url("@images/smit-email-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.account-icon {
    &::before {
        content: "";
        width: 18px;
        height: 12px;
        display: inline-block;
        background-image: url("@images/ico-account.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.address-icon {
    &::before {
        content: "";
        width: 18px;
        height: 12px;
        display: inline-block;
        background-image: url("@images/ico-address.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.logout-icon {
    &::before {
        content: "";
        width: 18px;
        height: 12px;
        display: inline-block;
        background-image: url("@images/ico-logout.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.account-mask-icon {
    &::before {
        content: "";
        width: 12px;
        height: 12px;
        display: block;
        background-color: black;
        -webkit-mask: url("@images/ico-account.svg") no-repeat center / contain;
        mask: url("@images/ico-account.svg") no-repeat center / contain;
    }
}

.password-mask-icon {
    &::before {
        content: "";
        width: 13px;
        height: 13px;
        display: block;
        background-color: black;
        -webkit-mask: url("@images/smit-password-icon.svg") no-repeat center / contain;
        mask: url("@images/smit-password-icon.svg") no-repeat center / contain;
    }
}