.athor-page {
	.login-btn {
		padding: 10px 30px;
		border: 1px solid;
		cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        &:hover{
            color: white;
            background-color: orangered;
        }
	}
}
